<!DOCTYPE html>
<html lang="en">
<head>
	<title>Decrypt File</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-5">
    	<h1>Decrypt File</h1>

		<form action="/decrypt/{{ filename }}" method="post" style="margin-top: 2%; width: 50%;">
			<div class="mb-3">
				<label for="password" class="form-label">Enter Password:</label>
				<input type="password" class="form-control" id="password" name="password">
			</div>

			<button id="decrypt-file" type="submit" class="btn btn-primary">Decrypt File</button>
		</form>

		{% if error %}
        	<p style="color: red;">
				<strong>Error: </strong> {{ error }}
			</p>
    	{% else %}
			{% if decryption_time %}
				<p id="decryption-time" style="display: none; margin-top: 2%;">
					<strong>Decryption Time: </strong> {{ decryption_time }} seconds
				</p>
			{% endif %}
		{% endif %}

		<button name="home-page" class="btn btn-info" onclick="window.location.href='/'" style="margin-top: 5%;">Go Back to Homepage</button>
	</div>

  	<script>
		document.getElementById('decrypt-file').addEventListener('click', () => {
      		document.getElementById('decryption-time').style.display = "block";
    	});
  </script>
</body>
</html>
