<!DOCTYPE html>
<html>
<head>
    <title>Encrypt/Decrypt File</title>
</head>
<body>
    <div id="file-encryption">
        <h1>Encrypt File</h1>
        
        <form action="/encrypt-decrypt/{{ filename }}" method="post">
            <label for="password">Enter Password:</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Encrypt" style="margin-left: 25px;">
        </form>
    </div>
    
    <div id="file-decryption" style="margin-top: 50px;">
        <h1>Decrypt File</h1>
        
        <form action="/encrypt-decrypt/{{ filename }}" method="post">
            <label for="password">Enter Password:</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Decrypt" style="margin-left: 25px;">
        </form>
    </div>
</body>
</html>