<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>File Encryption/Decryption using PBKDF</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>File Encryption/Decryption</h1>
            <form action="/" method="post" enctype="multipart/form-data">
                <div id="main-div" style="width: 30%;">
                    <div id="file-password">
                        <label for="file">Choose a file:</label>
                        <input type="file" id="file" name="file">
    
                        <label for="password" style="margin-left: 15%;">Enter a password:</label>
                        <input type="password" id="password" name="password">
                    </div>
                    
                    <div id="buttons" style="float: right; margin-top: 3%; margin-right: 1%;">
                        <input type="submit" value="Encrypt File" name="encrypt" onclick="alert('Encrypted')" style="margin-right: 15px;">
                        <input type="submit" value="Decrypt File" name="decrypt" onclick="alert('Decrypted')">
                    </div>
                </div>
            </form>
        <div id="message"></div>
    </body>
</html>